[levels]
;default/campaign
level:1{
  hasBoss:n,
  hasEnemies:y,
  numberEnemies:1,
  mapSize:1,
  hasBuffs:n,
  hasTraps:n,
  mapDifficulty:1,
  aiDifficulty:1
}

level:2{
  hasBoss:y,
  hasEnemies:y,
  numberEnemies:2,
  mapSize:2,
  hasBuffs:y,
  hasTraps:n,
  mapDifficulty:1,
  aiDifficulty:1
}

level:3{
  hasBoss:y,
  hasEnemies:y,
  numberEnemies:3,
  mapSize:3,
  hasBuffs:y,
  hasTraps:y,
  mapDifficulty:1,
  aiDifficulty:2
}
